.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:connections, :index)
      %li=link_to pat(:new), url(:connections, :new)
      %li.active=link_to pat(:edit), url(:connections, :edit, :id => @connection.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:connection)
    .inner
      -form_for :connection, url(:connections, :update, :id => @connection.id), :method => :put, :class => :form do |f|
        =partial "connections/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")